@import '../../../../custom.less';

.centerFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.buttonR {
  border-radius: 5px;
}

.alignRight {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
