@media all {
    .page-break {
      display: none;
    }
  }
  
  @media print {
    html, body {
      height: initial !important;
      overflow: initial !important;
      -webkit-print-color-adjust: exact;
    }
  }
  
  @media print {
    .page-break {
      margin-top: 1rem;
      display: block;
      page-break-before: auto;
    }
  }
  
  @page {
    size: auto;
    margin: 20mm;
  }

  .marca-de-agua {
    background-image: url('https://www.federacionmadridnatacion.es/images/COMPETICIONES/TEMPORADA_20-21/ARTISTICA/CARTELES/cancelado.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0;
    opacity: 1;
}
